extends ../layouts/LayoutComponent
include ../mixins/components/Masonry

prepend styles 

prepend scripts
  script(src=`${CWD}vendors/isotope-layout/isotope.pkgd.min.js`) 
  script(src=`${CWD}vendors/isotope-packery/packery-mode.pkgd.min.js`)


append variables
  - var pageTitle = 'Masonry grid'

append component
  p 
    | For detail documentation, 
    a(href="https://isotope.metafizzy.co/layout-modes/masonry" target="_blank") Isotope Masonary documentation 
      span.ms-1 &xrarr;
  +Masonry