extends ../layouts/LayoutComponent

include ../mixins/components/Navbar

prepend styles 

prepend scripts

append variables
  - var pageTitle = 'Navigations'

append component 
  +BootstrapComponentLink({
    link: `https://getbootstrap.com/docs/${bootstrapVersion}/components/navbar/`,
    name: pageTitle,
  })

  +BootstrapNav