extends ../layouts/LayoutTheme
include ../mixins/pages/Portfolio

prepend styles 

prepend scripts 
  script(src=`${CWD}vendors/bigpicture/BigPicture.js`)
  script(src=`${CWD}vendors/rellax/rellax.js`)

block navbarTop
  +MainNav({
    toggleID: 'navbarStandard',
    links: true,
    image:true,
    width: '70',
    logo: 'posh-logo-white.png'
  }).bg-transparent.navbar-dark.position-absolute.start-0.top-0.end-0

append content
  +PortfolioCaseStudy