extends ../layouts/LayoutTheme
include ../mixins/pages/Profile

prepend styles 

prepend scripts 
  script(src=`${CWD}vendors/bigpicture/BigPicture.js`) 

append variables 
  - var footer=false

block navbarTop
  +MainNav({
    toggleID: 'navbarStandard',
    links: true,
    image:false,
    name: "POSH",
    color: "text-1100"
  }).bg-white.fixed-top

append content
  +RecoveryForm