extends ../layouts/LayoutTheme
include ../mixins/pages/Services-1

prepend styles 

prepend scripts 


block navbarTop
  +MainNav({
    toggleID: 'navbarStandard',
    links: true,
    image:false,
    name: "POSH",
    color: "text-100"
  }).bg-1100.navbar-dark

append content
  +DesignTool
  +Customizations
  +Banner
