extends ../layouts/LayoutTheme
include ../mixins/pages/Shop

prepend styles 
prepend scripts

block navbarTop
  +MainNav({
    toggleID: 'navbarStandard',
    links: true,
    image:false,
    name: "POSH",
    color: "text-1100"
  }).bg-white

append content
  +Cart