extends ../layouts/LayoutTheme
include ../mixins/homes/TravelAgency

prepend styles 

prepend scripts
  script(src=`${CWD}vendors/typed.js/typed.umd.js`)
  script(src=`${CWD}vendors/rellax/rellax.js`)
  script(src=`${CWD}vendors/bigpicture/BigPicture.js`) 

block navbarTop
  +MainNav({
    toggleID: 'navbarStandard',
    links: true,
    image:true,
    width: '70',
    logo: 'posh-logo-white.png'
  }).bg-1100.navbar-dark.start-0.top-0

append content 
  +TravelAgency