mixin Careers 
  +Section({image:`${CWD}assets/images/careers-header.jpg`, className: 'overlay overlay-1'}, container).p-0
    .row
      .col-md-8.py-10 
        h6.text-uppercase.text-white.ls-2 Careers
        h1.fs-5.text-white Join Our Team

  +Section(container).pb-0
    .row.justify-content-center.text-center
      .col-md-9.mt-4 
        p.fs-7.text-700.fw-light  Released in 2017 with a vision to renovate the web design; Posh Today is a global trend setter in beautiful design and modern user experience.
        hr.mt-8.text-300
  
  +Section(container)
    .row.justify-content-center.text-center 
      .col-md-8 
        h4.text-uppercase open positions 
        p.text-600.fw-light Posh is the Best Template in the market you can find. It's built with Bootstrap 5 and all other state of the earth cutting edge frontend technologies.
    .row.mt-8 
      a.col-lg-6.col-xl-4.mb-4.link-1100(href="#!") 
        .border.border-300.p-5 
           .fw-thin.text-400.d-inline-block.fs-3  3
           h5.text-1100.mb-0 Creative &amp; Designer
           h6.text-500.d-inline-block New York

      a.col-lg-6.col-xl-4.mb-4.link-1100(href="#!") 
        .border.border-300.p-5 
           .fw-thin.text-400.d-inline-block.fs-3  18
           h5.text-1100.mb-0 Engineering
           h6.text-500.d-inline-block Dublin / New York / Portland
      
      a.col-lg-6.col-xl-4.mb-4.link-1100(href="#!") 
        .border.border-300.p-5 
           .fw-thin.text-400.d-inline-block.fs-3  4
           h5.text-1100.mb-0 Finance
           h6.text-500.d-inline-block New York

      a.col-lg-6.col-xl-4.mb-4.link-1100(href="#!") 
        .border.border-300.p-5 
           .fw-thin.text-400.d-inline-block.fs-3  14
           h5.text-1100.mb-0 Marketing 
            span.fs-10.badge.text-bg-primary Remote
           h6.text-500.d-inline-block World-wide

      a.col-lg-6.col-xl-4.mb-4.link-1100(href="#!") 
        .border.border-300.p-5 
           .fw-thin.text-400.d-inline-block.fs-3  5
           h5.text-1100.mb-0 People
           h6.text-500.d-inline-block New York

  +Section(container).py-0
    .row 
      .col-lg-6.mb-4 
        img(src=`${CWD}assets/images/careers-2.jpg`, alt="")
      
      .col-lg-6.mb-4 
        img(src=`${CWD}assets/images/careers-1.jpg`, alt="")

  +Section(container)
    h4.text-center.mb-7.text-uppercase Perks and benefits 

    .row 
      .col-xl-6.mb-5 
        h5.text-1000.mb-3  Relax, We've Got You Covered
        p.text-600.fw-light Posh comes with 100+ built in layouts. Rigorously tested and optimized for phones, tabs, laptops and all other devices. You can change it, reform it, renovate it and make any design you wish. Just start and make anything you want. Anything you can think of. A multiverse template with modularity at core that gives you the power to make sites in no time with minimum coding.

      .col-xl-6.mb-5 
        h5.text-1000.mb-3  Work-life Balance
        p.text-600.fw-light Crafted with Bootstrap 5; Highly Customizable Posh's visual style is simple yet distinct. Customize colors, buttons, typography, gaps, spaces and everything for every single screen sizes individually without writing any CSS at all.With enormous built in layouts, rigorously tested and optimized for laptops, phones, tabs and every other devices; Posh empowers you to design sites in a more flexible and multitudinous way.

      .col-xl-6.mb-5 
        h5.text-1000.mb-3  Stay Informed
        p.text-600.fw-light For years, ThemeWagon templates have stood for beautiful design and excellent quality. Posh is more than all that; it's built to take on the future - with rethink coding structures, great feel and ideal balance of performance &amp; elegance. What's the best, Posh will stay error free &amp; up to date with the excellent customer support and regular updates.

      .col-xl-6.mb-5 
        h5.text-1000.mb-3  We Value Our People
        p.text-600.fw-light We just upgraded you as a web designer, thanks to the possibilities of making infinite layouts with Posh in uncomplicated and fluent ways. That's a fancy way of saying that you can make great websites. Posh fits smoothly in all the screen sizes including desktops, laptops, tablets, iPads and more.
        

mixin JobDetails 
  +Section(container).pb-5
    .row 
      .col 
        nav(style="--posh-breadcrumb-divider: '»' " aria-label="breadcrumb" ).mb-3
          ol.breadcrumb 
            li.breadcrumb-item 
              a(href="#!") Home 
            li.breadcrumb-item 
              a(href="#!")  Careers 
            li.breadcrumb-item.active(aria-current="page")  Job Details  

        h1.fs-5.fw-normal Full Stack Developer 
        hr.text-300.mt-5

  +Section(container).pt-0
    .row 
      .col-lg-9.col-xl-7 
        h5.mb-3 Company Description
        p.text-700.mb-5.fw-light  Dropbox supports hundreds of millions of creators and innovators around the world. Our mission is to simplify the way people work together. In the workplace, Dropbox Business is trusted by over 200,000 companies to safeguard their most important information. As we continue to build the best place to create, share, and work with others, there’s a perfect spot for you to grow with us.

        h5.mb-3 Team Description
        p.text-700.mb-5.fw-light  The finance team is responsible for establishing our financial infrastructure and strategy. We combine analytical and strategic thinking to help Dropbox scale its global brand and continue on a best-in-class trajectory.
      
        h5.mb-3 Role Description
        p.text-700.mb-5.fw-light  As the Sales Compensation and Crediting Analyst, you will help build out the sales incentive program that motivate our global sales team to succeed. As a member of the finance team, you will have the opportunity to contribute across the full gamut of sales crediting and compensation topics as well as gain exposure to broader sales strategy and operational areas. You will build and evolve scalable processes and tools for managing our crediting and sales compensation programs, inform and enforce incentive plan designs and policies that align to our business strategy, audit and analyze performance results, and collaborate extensively across Sales, Finance, and People Operations to contribute insights that drive the direction of our fast growing business.

        h5.mb-3 Responsibilities 
        ul.text-700.mb-5.fw-light
          li.mb-2 Assign sales compensation plan and quota letters to the global sales team
          li.mb-2 Manage sales quotas, compensation plan designs, and sales roster in Xactly Incent, our sales compensation system of record
          li.mb-2 Contribute to the development and enforcement of sales crediting and compensation plan designs and policies
          li.mb-2 Work across systems such as Salesforce, Workday, Xactly to collect all the people, performance, and quota data required of the program. Help drive systems and process changes to ensure Dropbox scales its world class Sales and Finance teams. 
          li.mb-2 Oversee and audit sales compensation calculations and exception handling 
          li.mb-2 Partner with Sales to field inquiries and requests on crediting, quota, and commission topics
          li.mb-2 Help build out our performance reporting and analysis to a variety of stakeholders across the business on sales performance and compensation results

        h5.mb-3 Requirements 
        ul.text-700.mb-5.fw-light
          li.mb-2 BA/BS degree with excellent academic credentials
          li.mb-2 4+ years of experience in a sales compensation or related sales operations or finance functions
          li.mb-2 Prior experience driving complex, cross-functional, data intensive processes 
          li.mb-2 Clear and thoughtful communicator in discussing and sharing sensitive performance and compensation data with a range of business functions
          li.mb-2 Prior experience with Xactly or other sales compensation software (Callidus, OIC, Varicent) is strongly preferred

        h5.mb-3 Benefits and Perks
        ul.text-700.fw-light
          li.mb-2 100% company paid individual medical, dental, &amp; vision insurance coverage
          li.mb-2 401k + company match
          li.mb-2 Market competitive total compensation package
          li.mb-2 Free Dropbox space for your friends and family
          li.mb-2 Wellness Reimbursement
          li.mb-2 Generous vacation policy
          li.mb-2 10 company paid holidays
          li.mb-2 Volunteer time off 
          li.mb-2 Company sponsored tech talks (technology and other relevant professional topics)
      
      .col.text-center 
        .pt-5.sticky-top 
          a.btn.btn-primary(href="#!")  Apply Now