extends LayoutTheme

include ../mixins/pages/Shop

append variables 
  - var footer = false

prepend styles 

prepend scripts

block content 
  +ShopBreadcrumb

  +Section(container).py-5
    .row 
      .col-2.d-none.d-lg-block
        h6.mb-0.lh-4  Departments 
        hr.text-300.my-2
        .form-check.mb-0
          label.form-check-label.fw-normal
            input#otptionsRadios1.form-check-input.me-2(type="radio" name="optionsRadios" value="option1" checked)
            | Men 
        
        .form-check.mb-0
          label.form-check-label.fw-normal
            input#otptionsRadios2.form-check-input.me-2(type="radio" name="optionsRadios" value="option2" )
            | Women 

        .form-check.mb-0
          label.form-check-label.fw-normal 
            input#otptionsRadios3.form-check-input.me-2(type="radio" name="optionsRadios" value="option3")
            | Kids 
            
        h6.mt-4 Featured Brand
        hr.text-300.my-2
        .form-check.mb-4
          label.form-check-label.fw-normal 
            input.form-check-input.me-2(type="checkbox")
            | Check me out
        
          label.form-check-label.fw-normal 
            input.form-check-input.me-2(type="checkbox")
            | Check me out 
            
          label.form-check-label.fw-normal 
            input.form-check-input.me-2(type="checkbox")
            | Check me out

        h6.mt-3 Avg. Customer Review 
        hr.text-300.my-2
        a(href="#!")
          .text-warning 
            span.fas.fa-star.me-1(style="width: 15px")
            span.fas.fa-star.me-1(style="width: 15px") 
            span.fas.fa-star.me-1(style="width: 15px")
            span.fas.fa-star.me-1(style="width: 15px") 
            span.far.fa-star.me-1(style="width: 15px") 
            span.d-inline-block.fs-10.text-700 &amp; up 
        
        a(href="#!")
          .text-warning 
            span.fas.fa-star.me-1(style="width: 15px")
            span.fas.fa-star.me-1(style="width: 15px") 
            span.fas.fa-star.me-1(style="width: 15px")
            span.far.fa-star.me-1(style="width: 15px") 
            span.far.fa-star.me-1(style="width: 15px") 
            span.d-inline-block.fs-10.text-700 &amp; up 
        
        a(href="#!")
          .text-warning 
            span.fas.fa-star.me-1(style="width: 15px")
            span.fas.fa-star.me-1(style="width: 15px") 
            span.far.fa-star.me-1(style="width: 15px")
            span.far.fa-star.me-1(style="width: 15px") 
            span.far.fa-star.me-1(style="width: 15px") 
            span.d-inline-block.fs-10.text-700 &amp; up 
        a(href="#!")
          .text-warning 
            span.fas.fa-star.me-1(style="width: 15px")
            span.far.fa-star.me-1(style="width: 15px") 
            span.far.fa-star.me-1(style="width: 15px")
            span.far.fa-star.me-1(style="width: 15px") 
            span.far.fa-star.me-1(style="width: 15px") 
            span.d-inline-block.fs-10.text-700 &amp; up 
        h6.mt-3 Price 
        hr.text-300.my-2
        p.fs-10.mb-1 Under $25
        p.fs-10.mb-1 $25 to $50
        p.fs-10.mb-1 $50 to $100
        p.fs-10.mb-1 $100 to $200
        p.fs-10.mb-1 $200 &amp; Above

      .col-lg-10.ps-lg-5
        .row.pb-3.align-items-center 
          .col 
            p.mb-0 1-16 of 80,612 results for 
              strong Women's clothing : 
                span.text-warning Tops
          
          .col-md-5.text-md-end.mb-3.mb-md-0
            form.d-inline-block
              .form-group.mb-0.me-3 
                label.d-inline(for="exampleInputName") Sort by
                select#exampleInputName.form-select.d-inline-block.ms-2(name="sortby" style="width: 120px; height:auto;")  
                  option(value="price") Price 
                  option(value="popularity") Popularity 
                  option(value="rating") Rating 
            a.link-700.me-1.d-inline-block(href=`${CWD}pages/shop-products-list.html`) 
              img(src='data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/PjxzdmcgaGVpZ2h0PSIxNHB4IiB2ZXJzaW9uPSIxLjEiIHZpZXdCb3g9IjAgMCAxOSAxNCIgd2lkdGg9IjE5cHgiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6c2tldGNoPSJodHRwOi8vd3d3LmJvaGVtaWFuY29kaW5nLmNvbS9za2V0Y2gvbnMiIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIj48dGl0bGUvPjxkZXNjLz48ZGVmcy8+PGcgZmlsbD0ibm9uZSIgZmlsbC1ydWxlPSJldmVub2RkIiBpZD0iUGFnZS0xIiBzdHJva2U9Im5vbmUiIHN0cm9rZS13aWR0aD0iMSI+PGcgZmlsbD0iIzAwMDAwMCIgaWQ9IkNvcmUiIHRyYW5zZm9ybT0idHJhbnNsYXRlKC04Ny4wMDAwMDAsIC01MDkuMDAwMDAwKSI+PGcgaWQ9InZpZXctbGlzdCIgdHJhbnNmb3JtPSJ0cmFuc2xhdGUoODcuNTAwMDAwLCA1MDkuMDAwMDAwKSI+PHBhdGggZD0iTTAsOSBMNCw5IEw0LDUgTDAsNSBMMCw5IEwwLDkgWiBNMCwxNCBMNCwxNCBMNCwxMCBMMCwxMCBMMCwxNCBMMCwxNCBaIE0wLDQgTDQsNCBMNCwwIEwwLDAgTDAsNCBMMCw0IFogTTUsOSBMMTcsOSBMMTcsNSBMNSw1IEw1LDkgTDUsOSBaIE01LDE0IEwxNywxNCBMMTcsMTAgTDUsMTAgTDUsMTQgTDUsMTQgWiBNNSwwIEw1LDQgTDE3LDQgTDE3LDAgTDUsMCBMNSwwIFoiIGlkPSJTaGFwZSIvPjwvZz48L2c+PC9nPjwvc3ZnPg==' alt="Generic placeholder image" height="15")
            
            a.link-700.d-inline-block(href=`${CWD}pages/shop-products-grid.html`) 
              img(src='data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/PjxzdmcgaGVpZ2h0PSIxNnB4IiB2ZXJzaW9uPSIxLjEiIHZpZXdCb3g9IjAgMCAxNiAxNiIgd2lkdGg9IjE2cHgiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6c2tldGNoPSJodHRwOi8vd3d3LmJvaGVtaWFuY29kaW5nLmNvbS9za2V0Y2gvbnMiIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIj48dGl0bGUvPjxkZWZzLz48ZyBmaWxsPSJub25lIiBmaWxsLXJ1bGU9ImV2ZW5vZGQiIGlkPSJJY29ucyB3aXRoIG51bWJlcnMiIHN0cm9rZT0ibm9uZSIgc3Ryb2tlLXdpZHRoPSIxIj48ZyBmaWxsPSIjMDAwMDAwIiBpZD0iR3JvdXAiIHRyYW5zZm9ybT0idHJhbnNsYXRlKDAuMDAwMDAwLCAtNDMyLjAwMDAwMCkiPjxwYXRoIGQ9Ik0wLDQzMiBMNyw0MzIgTDcsNDM5IEwwLDQzOSBaIE05LDQzMiBMMTYsNDMyIEwxNiw0MzkgTDksNDM5IFogTTAsNDQxIEw3LDQ0MSBMNyw0NDggTDAsNDQ4IFogTTksNDQxIEwxNiw0NDEgTDE2LDQ0OCBMOSw0NDggWiBNOSw0NDEiIGlkPSJSZWN0YW5nbGUgMTg0Ii8+PC9nPjwvZz48L3N2Zz4=', alt="Generic placeholder image" height="15")
        block shopContent

        nav.mt-5(aria-label="Page Navigation")
          ul.pagination.justify-content-center 
            li.page-item 
              a.page-link(href="#!" aria-label="Previous") 
                span(aria-hidden="true")  &laquo;
            li.page-item
              a.page-link(href="#!")  1
            li.page-item.active
              a.page-link(href="#!")  2
            li.page-item
              a.page-link(href="#!")  3
            li.page-item
              a.page-link(href="#!")  4
            li.page-item 
              a.page-link(href="#!" aria-label='Next')
                span(aria-hidden="true")  &raquo;
  +ShopCommonSection