mixin AccordionExample 
  #accordionExample.accordion
    .accordion-item 
      h5#headingOne.accordion-header
        button.accordion-button.collapsed(type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne") What is a dog?
      #collapseOne.accordion-collapse.collapse(aria-labelledby="headingOne" data-bs-parent="#accordionExample")
        .accordion-body 
          p A dog is a type of domesticated animal. Known for its loyalty and faithfulness, it can be found as a welcome guest in many households across the world.

    .accordion-item 
      h5#headingTwo.accordion-header
        button.accordion-button(type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo") What kinds of dogs are there?
      #collapseTwo.accordion-collapse.collapse.show(aria-labelledby="headingTwo" data-bs-parent="#accordionExample")
        .accordion-body 
          p There are many breeds of dogs. Each breed varies in size and temperament. Owners often select a breed of dog that they find to be compatible with their own lifestyle and desires from a companion.
    
    .accordion-item 
      h5#headingThree.accordion-header
        button.accordion-button.collapsed(type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="true" aria-controls="collapseThree") How do you acquire a dog?
      #collapseThree.accordion-collapse.collapse(aria-labelledby="headingThree" data-bs-parent="#accordionExample")
        .accordion-body 
          p Three common ways for a prospective owner to acquire a dog is from pet shops, private owners, or shelters.
          p A pet shop may be the most convenient way to buy a dog. Buying a dog from a private owner allows you to assess the pedigree and upbringing of your dog before choosing to take it home. Lastly, finding your dog from a shelter, helps give a good home to a dog who may not find one so readily.
