mixin BasicTableExample 
  h4.my-4 Basic Tables 
  .table-responsive 
    table.table.border.border-300
      thead 
        tr 
          th #
          th First Name 
          th Last Name 
          th Username 
      tbody 
        tr 
          td 1
          td Mark 
          td Otto
          td @mdo
        
        tr 
          td 2
          td Jacob 
          td Thornton
          td @fat
        
        tr 
          td 3
          td Larry 
          td the Bird
          td @twitter

mixin StripedRowsExample 
  .my-6
  h4.my-4 Striped rows 
  .table-responsive 
    table.table.table-striped.border.border-300
      thead 
        tr 
          th #
          th First Name 
          th Last Name 
          th Username 
      tbody 
        tr 
          td 1
          td Mark 
          td Otto
          td @mdo
        
        tr 
          td 2
          td Jacob 
          td Thornton
          td @fat
        
        tr 
          td 3
          td Larry 
          td the Bird
          td @twitter
        
        tr 
          td 1
          td Mark 
          td Otto
          td @mdo
        
        tr 
          td 2
          td Jacob 
          td Thornton
          td @fat
        
        tr 
          td 3
          td Larry 
          td the Bird
          td @twitter

mixin BorderedTableExample 

  .my-6
  h4.my-4 Bordered Table 
  .table-responsive 
    table.table.table-striped.table-bordered
      thead 
        tr 
          th #
          th First Name 
          th Last Name 
          th Username 
      tbody 
        tr 
          td 1
          td Mark 
          td Otto
          td @mdo
        
        tr 
          td 2
          td Jacob 
          td Thornton
          td @fat
        
        tr 
          td 3
          td Larry 
          td the Bird
          td @twitter
        
        tr 
          td 1
          td Mark 
          td Otto
          td @mdo
        
        tr 
          td 2
          td Jacob 
          td Thornton
          td @fat
        
        tr 
          td 3
          td Larry 
          td the Bird
          td @twitter

mixin DarkTableExample 

  .my-6
  h4.my-4 Dark Table 
  .table-responsive 
    table.table.table-striped.table-dark
      thead 
        tr 
          th #
          th First Name 
          th Last Name 
          th Username 
      tbody 
        tr 
          td 1
          td Mark 
          td Otto
          td @mdo
        
        tr 
          td 2
          td Jacob 
          td Thornton
          td @fat
        
        tr 
          td 3
          td Larry 
          td the Bird
          td @twitter
        
        tr 
          td 1
          td Mark 
          td Otto
          td @mdo
        
        tr 
          td 2
          td Jacob 
          td Thornton
          td @fat
        
        tr 
          td 3
          td Larry 
          td the Bird
          td @twitter
