mixin TypedTextExample 
  h4.fw-light.overflow-hidden 
    = '\n'
    | A smarter way to tell about 
    span.typed-text.fw-semi-bold(data-typed-text!=['new features.', 'product updates.', 'a new idea.', 'an announcement.'])
    = '\n'